* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header {
  display: flex;
  padding: 20px 80px;
  background-color: #1f2937;
  font-size: 18px;
}
ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
.logo {
  margin-right: auto;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}
.hero-main {
  display: flex;
  padding: 40px 80px;
  height: 350px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}
.hero-main-text {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}
.written-content {
  padding-right: 120px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.signup-button {
  background-color: #3882f6;
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  font-size: medium;
  font-weight: 700;
  color: #f9faf8;
  cursor: pointer;
}
.img-placeholder {
  flex: 1;
  border: 1px solid white;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-section {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  /* height: 250px; */
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.info-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.info-section-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.image {
  max-width: 180px;
}
img {
  width: 170px;
  height: 200px;
  border: 5px solid #3b82f6;
  border-radius: 20px;
}
.image-text {
  color: #4b5563;
  font-size: large;
  font-weight: 500;
}
.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  background-color: #e5e7eb;
  padding: 60px 80px;
}
.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}
.author-name {
  font-weight: bold;
  font-size: 36px;
  align-self: last baseline;
  margin-right: 50px;
}
.call-to-action {
  height: 250px;
  padding: 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 700px;
  border-radius: 25px;
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: self-start;
}
.c-t-a-heading {
  font-size: 26px;
  font-weight: 700;
  color: #f9faf8;
}
.c-t-a-text {
  font-size: 18px;
  color: #e5e7eb;
}
.card > .signup-button {
  border: 3px solid #f9faf8;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 20px;
}
